html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(255, 255, 255);
}
h1 {
    text-align: center;
    font-size: 3rem;
    color: rgb(21, 31, 119);
    padding: 1rem;
}
.cfimg{
    width: 8rem;
    padding-left: 4rem;
    float: left;
}
.hello{
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-direction: row;
}
.card{
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    height: inherit;
    width: 20rem;
    margin-top: 6rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 2rem;
}
#card4{
    margin-right: 16rem;
}
#img{
    display: flex;
    justify-content: center;
}


